![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [3]:
# Re-run this cell 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Filter schools with averagemath >= 80% of 800
best_math_schools = schools[schools['average_math'] >= 0.8 * 800]

# Select necessary columns and sort by averagemath in descending order
best_math_schools = best_math_schools[['school_name', 'average_math']].sort_values('average_math', ascending=False)

# Calculate the total SAT score
schools['total_SAT'] = schools['average_math'] + schools['average_writing'] + schools['average_reading']

# Select necessary columns and sort by total_SAT in descending order
top_10_schools = schools[['school_name', 'total_SAT']].sort_values(by='total_SAT', ascending=False).head(10)

# Group by borough and calculate required statistics
borough_stats = schools.groupby('borough').agg(
    num_schools=('school_name', 'size'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT', 'std')
).reset_index()

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'].idxmax()]

# Convert to DataFrame and round the numeric values to two decimal places
largest_std_dev = pd.DataFrame([largest_std_dev]).round(2)

# Add as many cells as you like...

In [4]:
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [ ]:
plotof= sns.catplot(x ='', data = nobeldata, kind='count')
plotof.fig.suptitle('Laureates Type')
plt.xticks(rotation =0)
sns.set_context('notebook')